# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances et Build Node.js
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ------------------------------------
# AJOUTS POUR TON PROJET C & DATA
# ------------------------------------

# Ignorer les exécutables compilés (lourds et inutiles sur Git)
*.exe
*.out
*.app
huffman

# Ignorer les fichiers objets de compilation
*.o
*.obj

# Ignorer les fichiers générés lors de l'exécution
metadata.json

# Ignorer le dossier uploads (on ne versionne pas les fichiers de test)
uploads/
build